.carousel-container1 {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  vertical-align: top;
  height: 260px;
  width: 67%;
  margin-right: 10px;
  float: left;
  
}

.carousel-container2 {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
  vertical-align: top;
  height: 260px;
  width: 32%;
  float: right;
}

.carousel-slide {
  position: relative;
  display: flex;
  align-items: center;
}

.carousel-slide img {
  width: 100%;
  display: none;
  margin-bottom: 0px;
}

.carousel-slide img:first-child {
  display: block;
}

button.prev,
button.next {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  transform: translateY(-50%);
}

.carousel-container2 button.prev{
  top: 50%;
}

.carousel-container2 button.next{
  top: 50%;
}

button.prev {
  left: 0px;
}


button.next {
  right: 0px;
}