body{
    margin: 0px;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    height: 3px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
}

#date-display{
    align-items: left;
}

.language{
    text-align: center;
}

.logo{
    display: flex;
    margin-bottom: 15px;
    margin-top: 15px;
}
  
.logo img{
  height: 20px;
  width: 20px;
  margin-left: 5px;
  border-radius: 5px;
}
  

.twitter{
  margin-left: 10px; 
  height: 5px;
  width: 5px;
}

.facebook{
  margin-left: 10px; 
  height: 5px;
  width: 5px;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
  }
  
  
.search-container input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  width: 200px; 
}
  
.search-container button {
  padding: 10px 20px;
  background-color: #c6c8ca;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}
  
.search-container button:hover {
  background-color: #2082bc;
}

.search h1{
  color: rgb(150, 36, 36);
}

.section1{
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.ignoulogo img{
  height: 100px;
  width: 200px;
  padding-left: 5px;
  }
.nac img{
  height: 100px;
  width: 200px;
  padding-left: 5px;
}

nav{
  background-color: #2082bc;
  height: 40px;
  padding: 10px;
  padding-top: 5px;
  color: #ffffff;
}

nav ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-right: 60px;
  font-family: Arial, Helvetica, sans-serif;
}

.marquee-text{
  color: #2082bc;
}

.bubble-slider {
  position: relative;
  overflow: hidden;
}

.bubble-links-container {
  display: flex;
  transition: transform 0.5s ease;
}

.bubble-links {
  display: flex;
  justify-content: flex-start; /* Adjusted to align links to the start of the container */
  align-items: center;
  gap: 5px; /* Space between links */
  overflow: hidden; /* Hide overflow to create the sliding effect */
  width: 100%; /* Ensure the container takes full width */
}


.bubble-link {
  flex: 0 0 18%; /* Adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 40px;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  margin: 0 5px; /* Add margin between bubble links */
}

#prevButton,
#nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  z-index: 1;
}

#prevButton {
  left: 10px;
}

#nextButton {
  right: 10px;
}


.text{
  font-family: Arial, Helvetica, sans-serif;
  color: #2082bc;
  display: flex
}

